<footer>
<nav class="round">
	<ul>
<li><%= link_to "Event", "#" %>
    <div class="round">
    	<ul>
<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li>
        </ul>
    </div>
</li>
<li><%= link_to "Opportunity", "#" %>
<div class="round">
    	<ul>
<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li>
        </ul>
    </div>
</li>
	</ul>
</nav>



<nav class ="round">
	<ul>
<li><%=link_to "story", "#" %>
<div class="round">
	<%= image_tag("Compuware.png", :alt => "compuware", :class => "round") %>
</div>
</li>
<li><%= link_to "Community", "#" %>
<div class="round">
    	<ul>
<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The relocation of Albert C. Barnes’s great polyglot art collection", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "The 17th-century Genoese artist Giovanni Benedetto Castiglione", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Could there be a more idyllic setting for a summer performance", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "Intelligent, tuneful material written by and for men and women", "http://www.nytimes.com/events/" %></li><br/>
	<li><%=link_to "What we talk about when we talk about race. Bruce Norris’s shar", "http://www.nytimes.com/events/" %></li>
        </ul>
    </div>

</li>

</ul>
</nav>
</footer>